@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&family=Roboto:wght@300;400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f7fa;
    font-family:'Roboto',sans-serif;
    color:#333;
}

header img{
    width:100%;
    max-width:700px;
    height:250px;
    object-fit:cover;

    display:block;
    margin:0 auto;

    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.20);
}

header{
    padding:30px 20px;
}

header h1{
    font-size:2.25rem;
    color: rgb(27, 99, 171);
    text-shadow: #00285A;
    font: roboto;
}

/* TIMELINE */

.timeline{
    display:grid;

    grid-template-columns:
        repeat(auto-fit, minmax(280px, 1fr));

    gap:10px;

    padding:20px;

    max: width 2000px;
    margin:0 auto;
}

/* CARD */

.milestone{
    background:white;

    border-top:6px solid #0068B5;

    border-radius:16px;

    padding:20px;

    box-shadow:0 6px 18px rgba(0,0,0,.08);

    transition:
        transform .3s ease,
        box-shadow .3s ease;
}

/* HOVER EFFECT */

.milestone:hover{
    transform:scale(1.05);

    box-shadow:
        0 20px 40px rgba(0,104,181,.25);
}

.milestone img{
    width: 50%;
    height: 75px;px;

    object-fit:cover;

    border-radius:12px;

    margin: 5px 0 10px 0;
}

.milestone h2{
    color:#0068B5;
    font-family:'Orbitron',sans-serif;
    letter-spacing:2px;
    margin-bottom:10px;
}

.milestone h3{
    color:#00285A;
    font-family:'Orbitron',sans-serif;
    margin-bottom:15px;
}

.summary{
    font-weight:bold;
}

/* HIDDEN DETAILS */

.details{
    max-height:none;
    overflow:visible;

    opacity:1;

    transition:
        max-height .6s ease,
        opacity .6s ease;

    margin-top:10px;
}

.milestone:hover .details{
    max-height:300px;
    opacity:1;
}

.details p{
    font-style:italic;
    color:#444;
}

/* MOBILE */

@media (max-width:768px){

    .timeline{
        flex-direction:column;
        overflow-x:visible;
        padding:30px 20px;
    }

    .milestone{
        min-width:100%;
        max-width:100%;
    }

    header h1{
        font-size:2rem;
    }
}